.on-hover-support {
  width: 310px;
  height: 240px;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  margin-left: 39.2%;
  margin-top: 65px;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.3s;
  /* border: 2px solid red; */
}

.on-hover-support .items {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: start;
  overflow: hidden;
  padding-left: 20px;
  gap: 18px;
  color: #2f353d;
  border-bottom: 2px solid #dfdfdf;
  cursor: pointer;
}

.on-hover-support .items p {
  transition: transform 0.3s, color 0.3s;
  display: inline-block;
}

.on-hover-support .items p:hover {
  transform: scale(1.05); /* Increases the size to 120% */
  transform-style: flat;
  color: #2f353d;
}

/* account starts */
.on-hover-account {
  display: none;
  width: 300px;
  height: 370px;
  margin-left: 62.2%;
  /* border: 2px solid red; */
}

.on-hover-account .items {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: start;
  overflow: hidden;
  padding-left: 20px;
  gap: 7px;
  color: #2f353d;
  border-bottom: 2px solid #dfdfdf;
  cursor: pointer;
}

.on-hover-account .items button {
  width: 93%;
  height: 70%;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  border: none;
  text-align: center;
  background-color: #2d75c7;
}
/* account ends */

/* login-register form starts  */

.login-register {
  width: 700px;
  height: 450px;
  position: absolute;
  margin-top: 160px;
  margin-left: 25%;

  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: start;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid red; */
}

.login-register .form-title {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: start;
  gap: 110px;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
}

.login-register .form-title .sony-logo {
  width: 200px;
  height: 50px;
}

.form-title .sony-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  /* border: 2px solid green; */
}

.form-title i{
  font-size: 28px;
  color: #0098e1;
  cursor: pointer;
  transition: 0.3s;
}

.form-title i:hover{
  color: red;
  transition: 0.3s;
}

.login-register .forms{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  /* border: 2px solid pink; */
}

.forms .login-form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: start;
  padding-left: 30px;
  padding-top: 40px;
  gap: 15px;
  border-right: 1px solid #dfdfdf;
  /* border: 2px solid green; */
}

.forms input{
  width: 90%;
  height: 35px;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
}

.forms button{
  width: 200px;
  height: 42px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  background-color: #0098E1;
}
/* login-register form ends  */


/* after login dropdown starts */
#userDropdown{
  width: 120px;
  /* height: 150px; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  flex-direction: column;
  align-items: start;
  align-content: center;
  justify-content: center;
  gap: 10px;

  margin-left: 77.8%;
  margin-top: 42px;
  padding-left: 10px;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border-radius: 2px;
  /* border: 2px solid red; */
} 

#userDropdown li{
  list-style: none;
  color: #000;
}

#userDropdown li a{
  font-weight: 400;
  color: #000;
}

#userDropdown li a:hover{
  color: #2d75c7;
}

/* after login dropdown ends */


/* chat-bot-icon starts */

.chat-bot-icon{
  width: 60px;
  height: 60px;

  align-items: end;
  position: fixed;
  margin-top: 610px;
  margin-left: 95.22%;
  overflow: hidden;
  /* border: 2px solid blue; */
}

.chat-bot-icon img{
  height: 100%;
  width: 100%;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  cursor: pointer;
}

/* chat-bot-icon ends */

